.no_data {
  color: darkblue !important;
  font-size: 16px !important;
}

table.purpleHorizon {
  border: 4px solid #792396;
  background-color: #555555;
  width: 20vw;
  height: 100px;
  text-align: center;
  border-collapse: collapse;
}
table.purpleHorizon td,
table.purpleHorizon th {
  border: 1px solid #555555;
  padding: 5px 2px;
}
table.purpleHorizon tbody td {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  height: 5px;
}
table.purpleHorizon tr:nth-child(even) {
  background: #cc3bfc;
}
table.purpleHorizon thead {
  background: #792396;
  border-bottom: 4px solid #792396;
}
table.purpleHorizon thead th {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #792396;
}
