.flags {
  width: 15px;
  height: 10px;
}

table,
th,
td {
  border: 1px solid darkgray;
  border-collapse: collapse;
  margin: 0px;
  padding: 15px 10px;
  text-align: center;
}

table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4a4a4a;
  width: 40vw;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td,
table.darkTable th {
  border: 1px solid #4a4a4a;
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 13px;
  color: #e6e6e6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #e6e6e6;
  text-align: center;
  border-left: 2px solid #4a4a4a;
}


