@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  font-family: "Josefin Sans", sans-serif;
}
 
 body{
  background-color: #15202b;
}

.error_message{
  color:red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.loading_message{
  color: green
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main_container{
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
}

.nav-container {
  width: 100vw;
  height: 58px;
  line-height: 58px;
  background: #343a40;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  text-align: center;

}